#main {
    font-size: 100%;
    font-family: "Lato", sans-serif;
    color: #6f7c95;
    font-size: 16px;
    background-color: #efefff;
}

#pdfModal .modal-dialog {
    width: 70%;
    height: 70%;
}

#modelModal .modal-dialog {
    width: 80%;
    height: 90%;
    overflow-y: scroll;
}


.modal-dialog {
    width: auto;
}

.modal-dialog.large {
    width: 80%;
}

.param_div {
    display: inline-block;
    vertical-align: top;
    padding: 5px 50px;
}

.button_div {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

.info_title {
    margin-bottom: 10px;
}

.plot_group_div {
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    background-color: white;
}

.plot_content_div {
    border: 2px solid #a1a1a1;
    background: #eeeeee;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 10px 10px;
}

.plot_div {
    height: 300px;
    width: 600px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.hist_container {
    vertical-align: top;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    display: inline-block;
    width: 450px;
    height: auto;
    padding-left: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.hist_plot {
    height: 200px;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.feature_container {
    width: auto;
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.model {
    background-color: #444444;
    width: auto;
    border: 2px solid #a1a1a1;
    border-radius: 5px;
}

.match_feature_div {
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: #eeeeee;
}

.feature_div {
    background-color: #fafafa;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    width: 75px;
    height: 75px;
    display: inline-block;
}

.feature_div.mri {
    width: 200px;
    background-color: #000000;
}

.feature_div_big {
    vertical-align: top;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    width: 250px;
    height: 250px;
    display: inline-block;
}

.feature_div_big.mri {
    width: 700px;
}

.graph_div {
    background-color: #fafafa;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    display: inline-block;
}

.graph-content {
    border: 2px solid #a1a1a1;
    width: 690px;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    background-color: white;
}

.table_div {
    border: 2px solid #a1a1a1;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    overflow: scroll;
    background-color: white;
}

.table_header_div {
    border: 1px solid #559999;
    width: 280px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

.table_title_div {
    font-size: 30px;
    height: 45px;
    float: left;
    margin-left: 10px;
    width: 180px;
}

.textClass {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
}

#title_div {
    padding: 5px 10px;
    margin: 10px 20px 10px 10px;
    width: 1000px;
    overflow: auto;
}

.columnSelectorWrapper {
    height: 45px;
    vertical-align: middle;
    margin-left: 150px;
}

.btn.btn-default {
    margin-top: 5px;
    vertical-align: middle;
}

.trigger {
    display: block;
    width: auto;
    margin-right: 0px;
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50em;
    background: #44D;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

#kill_trigger {
    background: #E88;
}

#process_trigger {
    margin-top: 10px;
    background: #3C3;
}

.live-trigger {
    display: block;
    width: 60px;
    margin-right: 0px;
    height: 18px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50em;
    background: #44D;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

.long-trigger {
    width: 80px;
}

.is-hidden {
    visibility: hidden;
}

#tabs {
    height: auto;
    width: auto;
}

.nav-tabs {
    margin-left: 10px;
}

.tab-content {
    background: white;
    border: 2px solid #a1a1a1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
    background-color: #eeeeee;
    height: auto;
    width: auto;
}

#stats_content {
    height: auto;
}

.pdf_object {
    border: 2px solid #a1a1a1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

#process_button {
    margin-top: 0px;
}

.cd-popup-trigger {
  display: block;
  width: 60px;
  margin-right: 0px;
  height: 12px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}