#main {
    font-size: 100%;
    font-family: "Lato", sans-serif;
    color: #6f7c95;
    background-color: #efefff;
}

#popover-target label {
  margin: 0 5px;
  display: block;
}
#popover-target input {
  margin-right: 5px;
}
.popover {
    overflow-x: auto;
    width: 300px;
    height: 300px;
    margin-top: 100px; /* adjust popover position */
    overflow-y: scroll;
}

#pdfModal .modal-dialog {
    width: 70%;
    height: 70%;
}

.modal-dialog.large {
    width: 80%; /* respsonsive width */
}

.modal-dialog.small {
    width: 40%; /* respsonsive width */
}

.table_div {
    border: 2px solid #a1a1a1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    overflow: scroll;
    background-color: white;
}

.table_header_div {
    border: 1px solid #559999;
    width: 222px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

.table_title_div {
    font-size: 30px;
    height: 45px;
    float: left;
    margin-left: 10px;
    width: 140px;
}

#title_div {
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 20px 10px 10px;
    background-color: white;
    width: 1000px;
    overflow: auto;
}

.columnSelectorWrapper {
    height: 45px;
    vertical-align: middle;
    margin-left: 150px;
}

.btn.btn-default {
    margin-top: 5px;
    vertical-align: middle;
}