.columnSelectorWrapper {
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.columnSelector, .hidden {
  display: none;
}
.columnSelectorButton {
  background: #99bfe6;
  border: #888 1px solid;
  color: #111;
  border-radius: 5px;
  padding: 5px;
}
#colSelect1:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
  display: block;
}
#colSelect2:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect2:checked ~ #columnSelector {
  display: block;
}

#colSelect3:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect3:checked ~ #columnSelector {
  display: block;
}
.columnSelector {
  width: 300px;
  position: absolute;
  top: 30px;
  padding: 10px;
  background: #fff;
  border: #99bfe6 1px solid;
  border-radius: 5px;
}
.columnSelector label {
  display: block;
}
.columnSelector label:nth-child(1) {
  border-bottom: #99bfe6 solid 1px;
  margin-bottom: 5px;
}
.columnSelector input {
  margin-right: 5px;
}
.columnSelector .disabled {
  color: #ddd;
}

/*** Bootstrap popover ***/
#popover-target label {
  margin: 0 5px;
  display: block;
}
#popover-target input {
  margin-right: 5px;
}
.popover {
	margin-top: -65px; /* adjust popover position */
}

#pdfModal .modal-dialog {
    width: 70%;
    height: 70%;
}

.modal-dialog.large {
    width: 80%; /* respsonsive width */
}

.modal-dialog.small {
    width: 40%; /* respsonsive width */
}